* {
  font-family: AvenirNextPForBBG, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
@font-face {
  font-family: AvenirNextPForBBG;
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("https://assets.bwbx.io/s3/fontservice/fonts/AvenirNextPForBBG-Regular-eb3bb1b816.woff2")
      format("woff2"),
    url("https://assets.bwbx.io/s3/fontservice/fonts/AvenirNextPForBBG-Regular-093448f517.woff")
      format("woff");
}

@font-face {
  font-family: AvenirNextPForBBG;
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  src: url("https://assets.bwbx.io/s3/fontservice/fonts/AvenirNextPForBBG-Demi-b9b4abf0ea.woff2")
      format("woff2"),
    url("https://assets.bwbx.io/s3/fontservice/fonts/AvenirNextPForBBG-Demi-7459932d1d.woff")
      format("woff");
}

@font-face {
  font-family: "Bloomberg Logotypes";
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  src: url("https://assets.bwbx.io/s3/fontservice/fonts/Bloomberg%20Logotypes-Medium-0e53877b78.woff2")
      format("woff2"),
    url("https://assets.bwbx.io/s3/fontservice/fonts/Bloomberg%20Logotypes-Medium-4f4134c199.woff")
      format("woff");
}

@font-face {
  font-family: BWHaasGroteskWeb;
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("https://assets.bwbx.io/s3/fontservice/fonts/BWHaasGrotesk-55Roman-Web-7998fbcba8.eot");
  src: local("?"),
    url("https://assets.bwbx.io/s3/fontservice/fonts/BWHaasGrotesk-55Roman-Web-5cf5733cd9.woff2")
      format("woff2"),
    url("https://assets.bwbx.io/s3/fontservice/fonts/BWHaasGrotesk-55Roman-Web-a1ea4fd367.woff")
      format("woff");
}

@font-face {
  font-family: BWHaasGroteskWeb;
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  src: url("https://assets.bwbx.io/s3/fontservice/fonts/BWHaasGrotesk-65Medium-Web-d9a88b8a91.eot");
  src: local("?"),
    url("https://assets.bwbx.io/s3/fontservice/fonts/BWHaasGrotesk-65Medium-Web-8f5de0c368.woff2")
      format("woff2"),
    url("https://assets.bwbx.io/s3/fontservice/fonts/BWHaasGrotesk-65Medium-Web-e205ada7dd.woff")
      format("woff");
}

@font-face {
  font-family: BWHaasGroteskWeb;
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url("https://assets.bwbx.io/s3/fontservice/fonts/BWHaasGrotesk-75Bold-Web-de8c77cce2.woff2")
      format("woff2"),
    url("https://assets.bwbx.io/s3/fontservice/fonts/BWHaasGrotesk-75Bold-Web-506363704e.woff")
      format("woff");
}

@font-face {
  font-family: BWHaasGroteskWeb;
  font-display: swap;
  font-weight: 900;
  font-style: normal;
  src: url("https://assets.bwbx.io/s3/fontservice/fonts/BWHaasGrotesk-95Black-Web-3629d1569b.woff2")
      format("woff2"),
    url("https://assets.bwbx.io/s3/fontservice/fonts/BWHaasGrotesk-95Black-Web-37847ad026.woff")
      format("woff");
}

@font-face {
  font-family: BWHaasGroteskWeb;
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url("https://assets.bwbx.io/s3/fontservice/fonts/BWHaasGrotesk-56Italic-Web-39c99fc394.eot");
  src: local("?"),
    url("https://assets.bwbx.io/s3/fontservice/fonts/BWHaasGrotesk-56Italic-Web-669253244d.woff2")
      format("woff2"),
    url("https://assets.bwbx.io/s3/fontservice/fonts/BWHaasGrotesk-56Italic-Web-296d0c8182.woff")
      format("woff");
}

@font-face {
  font-family: BWHaasGroteskWeb;
  font-display: swap;
  font-weight: 500;
  font-style: italic;
  src: url("https://assets.bwbx.io/s3/fontservice/fonts/BWHaasGrotesk-66MediumItalic-Web-d725f5ecec.woff2")
      format("woff2"),
    url("https://assets.bwbx.io/s3/fontservice/fonts/BWHaasGrotesk-66MediumItalic-Web-503f6e56b6.woff")
      format("woff");
}

@font-face {
  font-family: BWHaasGroteskWeb;
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  src: url("https://assets.bwbx.io/s3/fontservice/fonts/BWHaasGrotesk-76BoldItalic-Web-1276e0d1bc.woff2")
      format("woff2"),
    url("https://assets.bwbx.io/s3/fontservice/fonts/BWHaasGrotesk-76BoldItalic-Web-1032f4ce3a.woff")
      format("woff");
}

@font-face {
  font-family: BWHaasGroteskWeb;
  font-display: swap;
  font-weight: 900;
  font-style: italic;
  src: url("https://assets.bwbx.io/s3/fontservice/fonts/BWHaasGrotesk-96BlackItalic-Web-47835b8d5d.woff2")
      format("woff2"),
    url("https://assets.bwbx.io/s3/fontservice/fonts/BWHaasGrotesk-96BlackItalic-Web-1a0b95417e.woff")
      format("woff");
}

@font-face {
  font-family: PublicoText;
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("https://assets.bwbx.io/s3/fontservice/fonts/PublicoText-Roman-Web-bfa063ee27.woff2")
      format("woff2"),
    url("https://assets.bwbx.io/s3/fontservice/fonts/PublicoText-Roman-Web-e953eb7239.woff")
      format("woff");
}

@font-face {
  font-family: PublicoText;
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  src: url("https://assets.bwbx.io/s3/fontservice/fonts/PublicoText-Semibold-Web-c48189a45a.woff2")
      format("woff2"),
    url("https://assets.bwbx.io/s3/fontservice/fonts/PublicoText-Semibold-Web-595b04b2da.woff")
      format("woff");
}

@font-face {
  font-family: PublicoText;
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url("https://assets.bwbx.io/s3/fontservice/fonts/PublicoText-Bold-Web-3c5266a48e.woff2")
      format("woff2"),
    url("https://assets.bwbx.io/s3/fontservice/fonts/PublicoText-Bold-Web-8851dd6a6e.woff")
      format("woff");
}

@font-face {
  font-family: PublicoText;
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url("https://assets.bwbx.io/s3/fontservice/fonts/PublicoText-Italic-Web-b04a2274cf.woff2")
      format("woff2"),
    url("https://assets.bwbx.io/s3/fontservice/fonts/PublicoText-Italic-Web-ba4fbc1a59.woff")
      format("woff");
}

@font-face {
  font-family: PublicoText;
  font-display: swap;
  font-weight: 600;
  font-style: italic;
  src: url("https://assets.bwbx.io/s3/fontservice/fonts/PublicoText-SemiboldItalic-Web-0254961da8.woff2")
      format("woff2"),
    url("https://assets.bwbx.io/s3/fontservice/fonts/PublicoText-SemiboldItalic-Web-57bd60b6fc.woff")
      format("woff");
}

@font-face {
  font-family: PublicoText;
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  src: url("https://assets.bwbx.io/s3/fontservice/fonts/PublicoText-BoldItalic-Web-87dd52eb78.woff2")
      format("woff2"),
    url("https://assets.bwbx.io/s3/fontservice/fonts/PublicoText-BoldItalic-Web-aacadef6f2.woff")
      format("woff");
}

@font-face {
  font-family: PublicoTextMono;
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("https://assets.bwbx.io/s3/fontservice/fonts/PublicoTextMono-Roman-Web-030ce79c82.woff2")
      format("woff2"),
    url("https://assets.bwbx.io/s3/fontservice/fonts/PublicoTextMono-Roman-Web-39b4bff080.woff")
      format("woff");
}

@font-face {
  font-family: PublicoTextMono;
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  src: url("https://assets.bwbx.io/s3/fontservice/fonts/PublicoTextMono-Semibold-Web-e5c1aee9ee.woff2")
      format("woff2"),
    url("https://assets.bwbx.io/s3/fontservice/fonts/PublicoTextMono-Semibold-Web-9b564f9a2b.woff")
      format("woff");
}

@font-face {
  font-family: PublicoTextMono;
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url("https://assets.bwbx.io/s3/fontservice/fonts/PublicoTextMono-Bold-Web-2ab325264d.woff2")
      format("woff2"),
    url("https://assets.bwbx.io/s3/fontservice/fonts/PublicoTextMono-Bold-Web-5f46c59280.woff")
      format("woff");
}

@font-face {
  font-family: PublicoTextMono;
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url("https://assets.bwbx.io/s3/fontservice/fonts/PublicoTextMono-Italic-Web-de42f6a4f1.woff2")
      format("woff2"),
    url("https://assets.bwbx.io/s3/fontservice/fonts/PublicoTextMono-Italic-Web-7d197ea7c1.woff")
      format("woff");
}

@font-face {
  font-family: PublicoTextMono;
  font-display: swap;
  font-weight: 600;
  font-style: italic;
  src: url("https://assets.bwbx.io/s3/fontservice/fonts/PublicoTextMono-SemiboldItalic-Web-a048987ac3.woff2")
      format("woff2"),
    url("https://assets.bwbx.io/s3/fontservice/fonts/PublicoTextMono-SemiboldItalic-Web-b32d56767f.woff")
      format("woff");
}

@font-face {
  font-family: PublicoTextMono;
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  src: url("https://assets.bwbx.io/s3/fontservice/fonts/PublicoTextMono-BoldItalic-Web-cabdcc9a36.woff2")
      format("woff2"),
    url("https://assets.bwbx.io/s3/fontservice/fonts/PublicoTextMono-BoldItalic-Web-c92f0de918.woff")
      format("woff");
}

body {
  margin: 0;
}
.black-header {
  background: #1c1c1c;
  display: flex;
  flex-direction: column;
}

.top-black-header {
  width: 1200px;
  margin: 0 auto;
}

.top-black-header a {
  text-decoration: none;
  color: aliceblue;
  padding: 0 10px 0 10px;
  font-size: 12px;
  font-family: AvenirNextPForBBG, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: bold;
  border-left: 1px solid #b3b3b3;
  display: inline-block;
  padding: 0 10px;
  line-height: 1;
}

.nav-div {
  border-bottom: 0;
  background: #1c1c1c;
  font-family: AvenirNextPForBBG, "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
}
.anchor1 {
  border-left: none !important;
  padding-right: 5px;
}

.anchor1::before {
  content: "";
}

.anchor1::after {
  display: inline-block;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cpath d='M0,2.5l7.5,10l7.5-10H0z' fill='%23fff'/%3E%3C/svg%3E");
  opacity: 0.7;
  height: 9px;
  width: 9px;
  font-size: 9px;
  left: 6px;
  top: 1px;
  position: relative;
}
.anchor1:hover:after {
  opacity: 1;
}
.anchor3 {
  color: #ffa028 !important;
}

.anchor3::before {
  display: inline-block;
  height: 16px;
  width: 16px;
  line-height: initial;
  right: 3px;
  top: 2px;
  position: relative;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25.32 19'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff%3Bstroke:%23fff%3Bstroke-miterlimit:10%3Bstroke-width:.5px%7D%3C/style%3E%3C/defs%3E%3Cpath d='M0 0h25.32v19H0z'/%3E%3Crect class='cls-1' x='.32' y='1.81' width='11.74' height='9.39' rx='.47' ry='.47'/%3E%3Crect class='cls-1' x='13.23' y='1.8' width='11.74' height='9.39' rx='.47' ry='.47'/%3E%3Cpath class='cls-1' d='M11.4 13.75v.8c0 .29.53.53 1.18.53s1.17-.24 1.17-.53v-.8h.06c1.83.2 3.11.87 3.11 1.68 0 1-1.93 1.76-4.31 1.76s-4.32-.79-4.32-1.76c0-.8 1.3-1.47 3.09-1.69z'/%3E%3C/svg%3E");
}

.bottom-black-header {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 9px 17px 15px;
}
.black-bottom-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  font-family: AvenirNextPForBBG, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.black-bottom-right-button {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 1px solid var(--navi-secondary-color, #fff);
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-family: AvenirNextPForBBG, sans-serif;
  font-weight: 600;
  line-height: 1;
  margin-left: 15px;
  padding: 7px 14px;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
}
.black-bottom-right-button:hover {
  border: 1px solid #fff;
  border-radius: 3px;
}
.black-bottom-right-sign-in {
  padding-left: 0;
  padding-right: 0;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.black-bottom-right-sign-in:hover {
  opacity: 0.7;
}

.black-bottom-right-middle {
  background-color: #1c1c1c;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-family: AvenirNextPForBBG, sans-serif;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  margin-right: 20px;
}
.black-bottom-right-middle::after {
  display: inline-block;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cpath d='M0,2.5l7.5,10l7.5-10H0z' fill='%23fff'/%3E%3C/svg%3E");
  opacity: 0.7;
  height: 9px;
  width: 9px;
  font-size: 9px;
  left: 6px;
  top: 1px;
  position: relative;
}
.black-bottom-right-middle:after {
  opacity: 1;
}
.black-bottom-right-middle:hover:after {
  opacity: 0.7;
}
.black-bottom-right-middle:hover {
  opacity: 0.7;
}
.navi-bar-button-search .nav-bar-search-icon {
  -webkit-mask: url(https://assets.bwbx.io/s3/navi/images/search_white-25886d2f4b.svg)
    no-repeat center;
  mask: url(https://assets.bwbx.io/s3/navi/images/search_white-25886d2f4b.svg)
    no-repeat center;
  height: 16px;
  width: 16px;
}
.navi-bar-button-search {
  border: 1px solid #fff;
  border: 1px solid var(--navi-secondary-color, #fff);
  border-radius: 4px;
  padding: 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 15px;
}
.nav-bar-search-icon {
  background-color: white;
}

/* ------------------------------------------------------------------------ */
.nav-bar-body-ul-left::before {
  content: "";
  margin-right: 1px;
  margin-bottom: 2px;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  background-color: var(--navi-menu-secondary-color, #000);
  margin: 5px;
  margin-bottom: 6px;
}
.main-body-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  max-width: 1300px;
  margin: 0 20px;
  border-bottom: outset;
  border: 1px solid #999;
  border: 1px solid var(--navi-boundary-color, #999);
  border-top: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  white-space: nowrap;
}

.nav-bar-body {
  cursor: pointer;
  width: 100%;
}

.nav-bar-body-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: BWHaasGroteskWeb, BWHaasGrotesk-55Roman-Web, sans-serif;
  border: 1px solid #999;
  border: 1px solid var(--navi-boundary-color, #999);
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.nav-bar-body-ul li {
  padding: 8px;
}

.nav-bar-body-ul li:hover {
  font-weight: 800;
  color: #000;
}

/* ------------------------------------------------------------------------ */

.stock-prices * {
  margin: 0;
}

.stock-prices {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  font-family: BWHaasGroteskWeb, BWHaasGrotesk-55Roman-Web, sans-serif;
  border: 1px solid #999;
  border: 1px solid var(--navi-boundary-color, #999);
  border-top: 0;
}
.stock-prices div {
  cursor: pointer;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  font-family: BWHaasGroteskWeb, BWHaasGrotesk-55Roman-Web, sans-serif;
  padding: 0px;
  align-items: center;
}

.stock-prices-down div {
  border-bottom-style: solid;
  border-bottom-width: 10px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 0 solid transparent;
  display: inline-block;
  padding: 0;
  rotate: 180deg;
  border-bottom-color: red;
  margin: 0.5ch;
}
.stock-prices-up div {
  border-bottom-style: solid;
  border-bottom-width: 10px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 0 solid transparent;
  display: inline-block;
  padding: 0;
  border-bottom-color: green;
  margin: 0.5ch;
}
.stock-prices-stock-name {
  font-weight: 600;
  padding-right: 10px;
  font-size: 14px;
  line-height: 11.5px;
  font-family: BWHaasGroteskWeb, Helvetica, Arial, sans-serif;
  padding: 0.625rem 0.875rem;
}
.stock-prices-down-value {
  color: red;
  font-size: 14px;
}
.stock-prices-up-value {
  color: green;
  font-size: 14px;
}
.stock-prices-prics {
  font-size: 14px;
}
.stock-prices div:hover {
  opacity: 0.7;
}

/* ------------------------------------------------------------------------ */

.content-body-div {
  max-width: 1300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 200px 1fr 1fr 1fr;
  gap: 1rem;
  grid-template-areas:
    "main-body-top main-body-top main-body-top main-body-top main-body-top"
    "main-body-top main-body-top main-body-top main-body-top main-body-top"
    "main-body-left main-body-center1 main-body-center1 main-body-center1 main-body-right"
    "main-body-left main-body-center2 main-body-center2 main-body-center2 main-body-right"
    "main-body-left main-body-center3 main-body-center3 main-body-center3 main-body-right";

  margin: 0 20px;
  border-bottom: outset;
  border: 1px solid #999;
  border: 1px solid var(--navi-boundary-color, #999);
  border-top: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.main-body-top {
  grid-column-start: 1;
  grid-column-end: 6;
  background-color: gold;
  display: flex;
  grid-area: main-body-top;
}
.main-body-left {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 5;

  grid-area: main-body-left;
}
.main-body-right {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 5;
  background-color: white;
  grid-area: main-body-right;
}
.main-body-center1 {
  grid-column-start: 2;
  grid-column-end: 5;
  background-color: teal;
  grid-area: main-body-center1;
}
.main-body-center2 {
  grid-column-start: 2;
  grid-column-end: 5;
  background-color: yellow;
  grid-area: main-body-center2;
}
.main-body-center3 {
  grid-column-start: 2;
  grid-column-end: 5;
  background-color: green;
}

/* ---------------------------------------------------------------- */

.main-body-top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-body-top-content a {
  color: black;
  text-decoration: none;
}

.main-body-top-content a:hover {
  text-decoration: underline;
}

.main-body-top-content-top h1 {
  font-family: BWHaasGroteskWeb, Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: 600;
}

.main-body-top-img {
  margin: 10px;
}

.main-body-top-content-bottom {
  display: flex;
  justify-content: center;
  border-bottom: solid 1px;
}

/* .main-body-top-content-bottom {
    height: 200px;
    column-gap: 12px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  } */

/* .main-body-top-content-bottom div {
    width: 50px;
    flex-shrink: 0;
  }
  
  .main-body-top-content-bottom div a {
    overflow-wrap: break-word;
    word-break: break-all;
  } */

/* ----------------------------------------- */

.main-body-left {
  display: flex;
  flex-direction: column;
}
.main-body-left-master-div {
  margin-left: 15px;
  margin-right: 40px;
}
.main-body-left-h3-1 {
  font-size: 30px;
  border-top: solid 1px;
  border-color: #000;
  border-bottom: solid 1px;
  border-bottom: #000 solid 1px;
  color: #ff0404;
  font-family: BWHaasDingbat, BWHaasGroteskWeb, BWHaasText, Helvetica, Arial,
    sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.1;
  padding: 6px 6px 6px 0;
  text-transform: uppercase;
}

.body-left-h2 {
  font-size: 26px;
  border-top: solid 1px;
  border-color: #000;
  border-bottom: solid 1px;
  border-bottom: #000 solid 1px;
  font-family: BWHaasDingbat, BWHaasGroteskWeb, BWHaasText, Helvetica, Arial,
    sans-serif;
  line-height: 1.1;
  padding: 6px 6px 6px 0;
}

.left-div {
  display: flex;
  flex-direction: column;
  border-bottom: dotted 1px;
  padding: 10px;
}
.anchor-div-main-body-top {
  font-weight: 100;
  color: #080606;
}
.anchor-div-main-body {
  font-family: BWHaasGroteskWeb, Helvetica, Arial, sans-serif;
  font-weight: 700;
  cursor: pointer;
  font-size: 20px;
  margin-top: 3px;
  padding: 3px 0px 12px;
  color: black;
  text-decoration: none;
  line-height: 18px;
}
.anchor-div-main-body:hover {
  text-decoration: underline;
}
.span-div-main {
  font-size: large;
  font-size: 30px;
  color: #000;
  font-weight: 700;
}

/*-------------------------------------------------*/

.main-body-right {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.more-opinion-right-div-main {
  border-bottom-width: 20px;
  font-size: 13px;
  color: #000;
  padding: 8px;
  margin-top: 0;
  margin-bottom: 0;

  border-bottom: dotted 1px;
}
.anchor-main-body-right {
  color: #000;
  font-weight: 900;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.13;
  text-decoration: none;
}
.anchor-main-body-right:hover {
  text-decoration: underline;
}
.right-div {
  display: flex;
  flex-direction: column;
  border-bottom: dotted 1px;
  padding: 10px;
}
.pargraph-main-body-right-1 {
  color: #0068ff;
  display: block;
  font-size: 19px;
  font-weight: 900;
  line-height: 21px;
  line-height: 1.07;
  margin-bottom: 4px;
}
.right-div-Bloomberg-Middle-East {
  color: #000;
  font-weight: 800;
  font-size: 20px;
  line-height: 18px;
}
